.center{
  align-items: center;
  display: flex;
  justify-content: center;
}

.header {
  background-color: #222;
  color: white;
  font-size: 3rem;
  margin: 0;
  padding: 1.5rem;
  text-align: center;
}

.display{
  align-items: center;
  display: flex;
  justify-content: center;
}